html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
p {
  font-family: 'Alegreya', serif;
  font-family: 'Chela One', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Black Ops One', cursive;
  }
